header {
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}

div.test1 {
  /*background-size: cover;
  background-position: center;*/
  min-height: 1000px;
}

.parallax-container {
  min-height: 1000px;
}

img.landingImg {
  /*background-size: cover;
  background-position: center;*/
  min-height: 1000px;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}
