hkariel {
  /*background-size: cover;
  background-position: center;*/
  min-height: 1000px;
}

.landing-container {
  /*background-size: cover;
  background-position: center;*/
  min-height: 1000px;
}

.quarrybay-container {
  min-height: 2000px;
}
/*
.parallax-container {
  min-height: 1000px;
}
*/
